body {
   margin: 0;
   padding: 0;
   overflow: hidden;
   font-family: Arial, sans-serif;

   padding-top: env(safe-area-inset-top);
   padding-left: env(safe-area-inset-left);
   padding-right: env(safe-area-inset-right);
   padding-bottom: env(safe-area-inset-bottom);
}

#map {
   width: 100vw;
   height: 100vh;
   position: absolute;
   top: 0;
   left: 0;
}

.marker {
   background: url(images/arrow.svg) no-repeat center center;
   background-size: contain;
   border-radius: 50%;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   width: min(20vw, 60px);
   height: min(20vw, 60px);
}

.text {
   position: absolute;
   top: calc( env(safe-area-inset-top) + 10px );
   left: 50%;
   transform: translateX(-50%);
   color: white;
   font-size: max(3.5vw, 20px);
   text-align: center;
   background-color: rgba(0, 0, 0, 0.7);
   padding: 5px 10px;
   border-radius: 5px;
}

#signs {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   width: 100vw;
   height: 50vw;

   display: flex;
   flex-direction: row;
}

#speed-limit, #overtaking-ban {
   flex: 1;
   font-size: max(3vw, 24px);
   font-weight: bold;
   text-align: center;
   color: white;
   padding: 10px;

   display: flex;
   align-items: center;
   justify-content: center;
}

.speed-limit-sign, .overtaking-ban-sign {
  width: 100%; 
  height: 100%;
}

#overtaking-ban {
   border-radius: 50%;
}

.green {
   background-color: rgba(0, 255, 0, 0.7) !important;
}
.red {
   background-color: rgba(255, 0, 0, 0.7) !important;
}